{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/homepgcan.css' %}"/>
<!DOCTYPE html>
<html>
  <head>
    <title>HIREABILITY</title>
  </head>
  <body>

    <header>
        
          
      <h1>HIREABILITY</h1>
      <h2><link rel="stylesheet" type="text/css" href="homepgcan.css"></h2>
      <nav>
        <ul>
          <li><a href="upload.html">Upload</a></li>
          <li><a href="#">Status</a></li>
        </ul>
      </nav>
    </header>
    <div class="title">
        <h1>Upload your resume now and see the results</h1>
    </div>
    <div class="button">
        <a href="upload.html" class="btn">Get Started</a>
    </div>
    <main>
        <div class="features">
            <div class="feature">

              <h3>Customizable screening criteria</h3>
              <p>You can set your own criteria for what makes a resume a good fit, so you only see the most relevant candidates.</p>
            </div>
            <div class="feature">
              <h3>Easy-to-use interface</h3>
              <p> The user-friendly interface makes it easy to upload and screen resumes, so you don't need any special technical skills.</p>
            </div>
            <div class="feature">
              <h3>Real-time updates</h3>
              <p>You can see the status of your screening process in real-time, so you know exactly where you stand.</p>
          </div>
          <div class="logo">
            <img src="cv1.png">
        </div>
       
        
          
          
          
    </main>
    <footer>
      <p>&copy; 2023 Resume Screening Website</p>
      <p class="contact-info">Contact Info: 9861661645</p>
      <p class="contact-info">E-mail: passresume@gmail.com </p>
    </footer>
  </body>
</html>
