<title>Upload page
</title>
<header>
    <h1>Hireability Upload</h1>
  </header>
  
  


<h2><link rel="stylesheet" type="text/css" href="upload.css"></h2>

<form action="/upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="resume">Resume:</label>

      <input type="file" id="resume" name="resume" accept=".pdf,.doc,.docx" required>
    </div>
    <button type="submit">Submit</button>
  </form>
  

  
  