form {
    max-width: 600px;
    margin: 50px auto;
    padding: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #bbb;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="file"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
  }
  .btn{
    color: black;
    box-shadow: 2px 2px 3px black;
  
  
      border: 1px solid #222;
      padding: 10px 30px;
      text-decoration: none;
  }
  .btn:hover{
      color: black;
      background-color: gray;
  
      transition: all 0.3s ease-in-out;
  
  }

  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  header {
    text-align: center;
    padding: 20px;
    background-color: none;
    color: black;
  }

  header h1 {
    font-size: 36px;
    color: black;
    font-weight: bold;
  }
 


  body {
    background-image: url(https://images.unsplash.com/photo-1597773150796-e5c14ebecbf5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ymx1ZSUyMHBhdHRlcm58ZW58MHx8MHx8&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .features {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .feature {
    width: 300px;
    margin: 1rem;
    text-align: center;
    border: 3px solid black;
    padding: 1rem;
    box-shadow: 2px 2px 3px black;
  }
  .feature:hover{
    background-color: gray;
    color: black;
    transition: all 0.3s ease-in-out;

  }
  

footer {
   margin: 0;
   font-size: 12px;
   background-image: url(https://wallpaper-house.com/data/out/9/wallpaper2you_342354.jpg);
    color: black;
    padding: 0px;
    text-align: center;
    position: absolute;
   bottom: 4;
   left: 0;
   right: 0;
  }
  .contact-info {
    font-size: 0.8rem;
    margin: 0;
    padding: o;
    text-align: center;
  }

div h1{
  color: black;
}